#flag {
  position: relative;
}

.stripe {
  height: 40px;
}

.red-stripe {
  background-color: red;
}

#stars {
  position: absolute;
  height: 280px;
  width: 380px;
  background-color: blue;
  background-image: url('stars.png');
}
